.main {
    display: flex;
}

.mainContent {
    padding: 40px 100px 40px 100px;
    margin-left: 24vw;
    float: left;
    width: 100%;
}

.box-maquina {
    max-width: 100%;
    word-break: break-word;
}


.box-title {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 0;
    border: 2px #afafaf solid;
    border-radius: 10px 10px 0 0;
    background-color: rgb(78 86 159);
    color: white;
    align-items: center;
}

.box-title-alerta {
    background-color: rgb(209 65 65)!important;
    border: 2px!important;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px #ff0000;
    border-radius: 10px;
    justify-content: space-between;
}


.box-content {
    padding: 30px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-top: 0;
    border-style: solid;
    border-color: #afafaf;
    border-radius: 0 0 10px 10px;
}

.box-alerta {
    margin: 30px 0;
}

.box-content-alerta {
    border-color: #d14141;
    background: #ffd8d8;
}

.titulo-h1 {
    font-size: 28px;
    line-height: 49px;
    font-weight: 800;
    color: #00649D;
}

.titulo-h2 {
    font-size: 24px;
    line-height: 49px;
    font-weight: 800;
}

.nav-link {
    color: var(--azul-caneta)!important;
}

.nav-link.active {
    color: var(--azul);
    font-weight: 700;
}

/* Atribuição */

.atribuir-icon {
    color: #ffe0e0;
    font-size: 40px;
    height: fit-content;
    cursor: pointer;
}

.atribuir-icon:hover {
    scale: 1.2;
}
