/* Fonte Manrope */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: 'Manrope', sans-serif; 
}
  
body {
     font-size: 100%;
     height: 100%;
}

/* Raíz do arquivo */

:root {
    /* CORES */
        /* Verde */
        --verde-agua: #009D7A;
        --verde-agua: #00949D;

        /* Azul */
        --branco-azul: #F8F8FF;
        --azul-ceu: #B2DAFF;
        --azul-bebe: #84B8E8;
        --azul: #00649D;
        --azul-claro: #3680C2;
        --azul-caneta: #000A41;

        /* Roxo */
        --lilas-claro: #85A1DB;

        /*Rosa */
        --rosa-claro: #FFB7CD;
        --rosa-pink: #C23B65;

    /* PESO DA FONTE  */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
}

/* ESTILO DE FONTE  */
    /* Semibold */
    .sbold-24 {
        font-weight: var(--semibold);
        font-size: 24px;
    }

    .sbold-16 {
        font-weight: var(--semibold);
        font-size: 16px;
    }

    /* Bold */
    .bold-24 {
        font-weight: var(--bold);
        font-size: 24px;
    }

    .bold-20 {
        font-weight: var(--bold);
        font-size: 20px;
    }

    .bold-display-48 {
        font-weight: var(--bold);
        font-size: 48px;
    }

    /* Extrabold */
    .xbold-display-48 {
        font-weight: var(--extrabold);
        font-size: 48px;
    }

    .xbold-36 {
        font-weight: var(--extrabold);
        font-size: 36px;
    }

    .xbold-16 {
        font-weight: var(--extrabold);
        font-size: 16px;
    }

    .text-align-center {
        text-align: center;
    }

/* BACKGROUND COLORS */
.bg-azul-claro{
    background-color: var(--azul-claro);
}

.bg-azul-bebe {
    background-color: var(--azul-bebe);
}

.bg-azul {
    background-color: var(--azul);
}

/* COLORS */
.color-white {
    color: var(--branco-azul);
}

.color-azul-caneta {
    color: var(--azul-caneta);
}

.color-azul {
    color: var(--azul);
}

/* FLEX  */
.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-evenly {
    justify-content: space-evenly;
}

.ai-center {
    align-items: center;
}

/* MACETES  */
.vis-hidden {
    visibility: hidden;
}

/* DISPLAY  */
.d-none {
    display: none;
}

.sticky {
    -webkit-transition: 0.3s;
    transition: 1s;
    z-index: 2; 
    width: 100%;
    position: fixed;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8px );
    background-color: rgba(0, 0, 0, 0.346);
    -webkit-backdrop-filter: blur( 8px );
}

::-webkit-scrollbar-thumb {
    background-color: var(--azul);
}

::-webkit-scrollbar {
    background-color: var();
}

/* HOVER  */

.cursor-pointer {
    cursor: pointer;
}

.menu-hover:hover {
    height: 9vh;
    transition: .5s;
    background-color: var(--azul-bebe);
}
