.container2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

.menu {
    margin: 2%;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.img {
    width: 62%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel {
    margin-top: 20%;
    width: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icones {
    width: 77%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

li {
    list-style: none;   
    padding-left: 2%;
}

.color-azul-caneta {
    color: #000A41;
}

.icones:hover {
    background-color: #88B6FB;
    color: var(--branco-azul);
}

.dadosMaquina {
    margin: 2%;
    width: 100%;
    height: auto;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeStatus {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nome {
    width: 60%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
}

.status {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.grafico{
    margin-top: 20px;
}

.formulario{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dados {
    width: 70%;
    display: flex;
}

.formularioEsquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content;
}

.formularioDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content;
}

.campos{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-style:solid;
    border-color: black;
}

.campo{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.inputs-titulos {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}