<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROVISÓRIO</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="container">
        <div class="header bold-24 bg-lilas-claro">
            <div class="container">
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>

                <img src="../public/assets/logo.png" alt="logo" width="160px" height="40px">
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
            </div>
        </div>

        <div class="caixa-maior">
            <div class="corpo">
                <div class="bolinha esquerda">
                    <img src="./assets/ladoEs.png" alt="bolinha" width="280px">
                </div>
            </div>

            <div class="caixa-menor">
                <div class="sombra">
                    <div class="formulario">
                        <input type="text" id="input email" placeholder="E-mail">
                        <input type="text" id="input senha" placeholder="Senha">
                        <input type="text" id="input token" placeholder="Token">
                    </div>
                </div>
            </div>

            <div class="corpo">
                <div class="bolinha direita">
                    <img src="./assets/ladoDi.png" alt="bolinha" width="280px">
                </div>

            </div>
        </div>
    </div>
</body>

</html>