<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="../../style/global.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header bold-24 bg-lilas-claro">
            <div class="container">
                <div class="item">
                    <li class="item-branco-azul">
                        <a href="">MENU</a>
                    </li>
                    <li class="item-branco-azul">
                        <a href="">MENU</a>
                    </li>
                </div>

                <img src="../../public/assets/Global/logo.png" alt="logo" width="160px" height="38px">
                <div class="item">
                    <li class="item-branco-azul">
                        <a href="">MENU</a>
                    </li>
                    <li class="item-branco-azul">
                        <a href="">MENU</a>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="divContainer">
        <img src="../../public/assets/Global/logo.png" alt="logo" class="logoMetade">
        <div class="blobAzul"><b class="xbold-display-48">********* CHEGOU PARA <br /> FACILITAR O SEU TRABALHO <br />
                DIÁRIO!</b></div>
    </div>



</body>

</html>