<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../css/aboutUs.css">
    <title>Document</title>
</head>

<body>
    <!--HEADER-->
    <div class="header bold-24 bg-lilas-claro">
        <div class="container">
            <div class="item">
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
            </div>

            <img src="../../public/assets/Global/logo.png" alt="logo" width="160px" height="38px">
            <div class="item">
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
                <li class="item-branco-azul">
                    <a href="">MENU</a>
                </li>
            </div>
        </div>
    </div>

    <div class="divContainer">
        <img src="../../public/assets/Global/logo.png" alt="logo" class="logoMetade">
        <div class="blobAzul"><b class="xbold-display-48">A SOLLICITUS CHEGOU PARA <br /> FACILITAR O SEU TRABALHO
                <br />
                DIÁRIO!</b></div>
    </div>

    <div class="containerOferecemos">
        <div class="texto textoOferecemos"><b class="xbold-display-48">O que oferecemos?</b>
            <p class="bold-24">A Sollicitus oferece serviços de monitoramento e solução de problemas 24 horas por dia, 7
                dias
                por semana,
                garantindo que quaisquer problemas sejam resolvidos rapidamente e eficientemente. Dentre esses serviços
                de
                monitoramento podemos citar a automatização da detecção de problemas e do acionamento da equipe de
                suporte,
                e também as orientações para a solução de problemas simples pelo próprio aluno.
                Trabalhamos com uma ampla variedade de instituições de ensino superior em todo o país, incluindo
                faculdades,
                universidades e escolas técnicas. Nossos clientes confiam em nós para manter seus sistemas de TI
                funcionando
                sem problemas, permitindo que eles se concentrem em seu negócio principal de fornecer uma educação de
                qualidade aos seus alunos. Estamos comprometidos em fornecer soluções de suporte técnico personalizadas,
                trabalhando em parceria com nossos clientes para entender suas necessidades específicas e oferecer
                soluções
                que atendam a essas necessidades.
                Se você está procurando uma empresa de suporte técnico confiável e experiente para sua instituição de
                ensino
                superior, entre em contato conosco hoje mesmo para saber mais sobre nossos serviços e como podemos
                ajudá-lo
                a gerenciar seus sistemas de TI de forma eficiente.</p>
        </div>
    </div>

    <div class="containerCompromisso">
        <img src="../assets/AboutUs/iconeLupa.png" alt="Monitoramos seus sistema">
        <div class="texto textoCompromisso"><b class="xbold-display-48">Nosso compromisso</b>
            <p class="bold-24">Nosso objetivo é ajudar nossos clientes a gerenciar seus sistemas de TI de forma
                eficiente, garantindo que eles estejam sempre funcionando de forma confiável e sem problemas. Nós
                entendemos que as instituições de ensino superior têm necessidades específicas quando se trata de
                suporte técnico, e estamos aqui para oferecer sistemas que atendam a essas necessidades.</p>
        </div>
    </div>

    <div class="containerSeguranca">
        <div class="texto textoCompromisso"><b class="xbold-display-48">Invista na segurança dos seus dados!</b>
            <p class="bold-24">Somos uma empresa de NOC focada em oferecer soluções de suporte técnico para instituições
                de ensino superior. Recém ingressada no mercado, a Sollicitus conta com uma equipe jovem de
                profissionais
                altamente qualificados e capacitados para fornecer soluções personalizadas que permitam nossos clientes
                se concentrem apenas em suas atividades acadêmicas, com a segurança se que seus sistemas de TI estão em
                boas mãos.</p>
        </div>
        <img src="../assets/AboutUs/seguranca.png" alt="Cuidamos do seu sistema com muito cuidado">
    </div>

    <div class="containerNossoTime">
        <div class="texto"><b class="xbold-display-48">Nosso Time</b></div>
        <div class="containerLinhaNomes">

            <div>
                <div class="divNome" style="background-color: var(--lilas-claro);">
                    <span class="xbold-display-110">DC</span>
                </div>
                <span class="nomes xbold-30">Diego Costa <br> Moreira</span><br>
                <a href="diego.moreira@sptech.school">diego.moreira@sptech.school</a>
            </div>

            <div>
                <div class="divNome" style="background-color: var(--roxo);">
                    <span class="xbold-display-110">EN</span>
                </div>
                <span class="nomes xbold-30">Emillie Nicole <br> Duarte Souza</span><br>
                <a href="emillie.souza@sptech.school">emillie.souza@sptech.school</a>
            </div>
            <div>
                <div class="divNome" style="background-color: var(--azul-bebe);">
                    <span class="xbold-display-110">JV</span>
                </div>
                <span class="nomes xbold-30">João Vitor Vieira <br> Lima</span><br>
                <a href="joao.lima@sptech.school">joao.lima@sptech.school</a>
            </div>
        </div>
        <div class="containerLinhaNomes segundaLinha">
            <div>
                <div class="divNome" style="background-color: var(--lilas-claro);">
                    <span class="xbold-display-110">NN</span>
                </div>
                <span class="nomes xbold-30">Natan Nascimento <br> Figueira</span><br>
                <a href="natan.figueira@sptech.school">natan.figueira@sptech.school</a>
            </div>
            <div>
                <div class="divNome" style="background-color: var(--roxo);">
                    <span class="xbold-display-110">SC</span>
                </div>
                <span class="nomes xbold-30">Silvio Cesar <br> Pintor Tavares</span><br>
                <a href="silvio.tavares@sptech.school">silvio.tavares@sptech.school</a>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="footer bold-24 bg-lilas-claro">
        <div class="container">
            <img src="../../public/assets/Global/logo.png" alt="logo" width="160px" height="38px">
            <br><span class="xbold-16">TRANSFORME SUA EXPERIÊNCIA ACADÊMICA COM SOLLICITUS - A PLATAFORMA QUE CUIDA DO SEU SUCESSO! </span>
        </div>
    </div>

</body>

</html>