* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @keyframes oie {
    0% {
		opacity: 0;
		transform: translateX(50px);
	}

	50% {
		opacity: 1;
		transform: translateX(0);
	}
  }
.caixa-formulario{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.caixadados{
    background: rgb(2,0,36);
    background: linear-gradient(160deg, rgb(87, 78, 255) 0%, rgba(137,152,255,1) 20%, rgba(255,129,237,1) 110%);
    padding: 150px 150px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
#campo1{
    display: flex;
    line-height: 40px;
    flex-direction: column;
    
}

.caixadados2{
    background-color: rgb(224, 240, 254);    
    padding: 150px 150px;
    width: 21%;
    right: 35%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;    
    transition: .8s;
    opacity: 0;
    animation-name: oie;
    animation-duration: 2s;
}

#campo2{
    display: flex;
    line-height: 40px;
    flex-direction: column;
}

.ri-arrow-left-line{
    display: none;
    justify-content: center;
    position: absolute;
    left: 590px;
    height: 30px;
    width: 70px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    z-index: 9;
}

.ri-arrow-left-line:hover{
    transform: translateX(-10px);
}