/* Fonte Manrope */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

body {
    font-size: 100%;
    height: 100%;
}

/* HEADER */

.header {
    width: auto;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.header .container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.bg-lilas-claro {
    background-color: #3680C2;
}

.bold-24 {
    font-weight: bold;
    font-size: 24px;
}

.item {
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-branco-azul a {
    color: #F8F8FF;
}

.caixa-maior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corpo {
    width: auto;
    height: 86vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.bolinha {
    display: flex;
    justify-content: flex-end;
}

.caixa-menor {
    width: 80%;
    padding-left: 18%;
    padding-top: 6%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-atrativa {
    width: 40%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.frase {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000A41;
}

.sombra {
    width: 50%;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140.37deg, #3182BF -5.96%, #A864FF 111.92%);
}

.formulario {
    width: 95%;
    height: 61vh;
    margin-block-end: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #88B6FB;
}

.titulo-branco-azul {
    font-weight: 700;
    font-size: 24px;
    margin-top: 12px;
    color: #F8F8FF;
}

input {
    width: 250px;
    height: 6vh;
    border-radius: 4px;
    border-style: none;
    padding: 10px;
    background-color: #ADC5F8;
}

.sbold-16 {
    font-weight: 600;
    font-size: 13px;
    color: #2569CE;
}

.sbold-16 a {
    text-decoration-line: underline;
    color: #2569CE;
}

.btn-login {
    width: 140px;
    height: 5vh;
    margin-block-end: 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #2569CE;
    border-color: #2569CE;
    background-color: #88B6FB;
    align-items: center;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 600px) {
    .container {
        width: 160%;
        height: 160vh;
    }

    .header .container {
        width: 90%;
        height: 13vh;
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
    .bg-lilas-claro {
        background-color: #3680C2;
    }
    
    .bold-24 {
        font-weight: bold;
        font-size: 16px;
    }

    .header img{
        width: 20%;
        height: auto;
    }
    
    .item {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .item-branco-azul a {
        color: #F8F8FF;
    }
    
    .caixa-maior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .corpo {
        width: auto;
        height: 146vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    
    .bolinha {
        display: flex;
        justify-content: flex-end;
    }
    
    .caixa-menor {
        width: 140%;
        height: 113vh;
        padding-left: 18%;
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .img-atrativa {
        width: 90%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .img-atrativa img{
        display: none;
    }
    
    .frase {
        margin-top: 20px;
        width: 70%;
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #000A41;
    }
    
    .sombra {
        margin-top: 40px;
        width: 90%;
        height: 80vh;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(140.37deg, #3182BF -5.96%, #A864FF 111.92%);
    }
    
    .formulario {
        width: 95%;
        height: 81vh;
        margin-block-end: 10%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #88B6FB;
    }
    
    .titulo-branco-azul {
        font-weight: 700;
        font-size: 28px;
        margin-top: 12px;
        color: #F8F8FF;
    }
    
    input {
        width: 76%;
        height: 7vh;
        border-radius: 4px;
        border-style: none;
        padding: 10px;
        background-color: #ADC5F8;
    }
    
    .sbold-16 {
        font-weight: 600;
        font-size: 17px;
        color: #2569CE;
    }
    
    .sbold-16 a {
        text-decoration-line: underline;
        color: #2569CE;
    }
    
    .btn-login {
        width: 40%;
        height: 7vh;
        margin-block-end: 15px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 15px;
        color: #2569CE;
        border-color: #2569CE;
        background-color: #88B6FB;
        align-items: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1048px) {
    .img-atrativa{
        display: none;
    }

    .caixa-menor {
        padding: 0;
        justify-content: center;
    }

    .caixa-maior {
        justify-content: center;
        align-items: center;
    }

    #input-email, #input-senha, #input-confirmacao {
        font-size: 14px;
    }

    .sombra {
        width: 100%;
    }    
}