<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cadastro_maquina.css">
    <link rel="stylesheet" href="/style/global.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Gerenciamento de Máquinas</title>
</head>
<body>
    <div class="container">
        <div class="menu-lateral">
            <div class="logo"></div>
            <div class="div-menu-icones">
                <div class="menu-icones"><div class="div-icones"><i class="ri-home-4-line"></i></div>Dashboard</div>
                <div class="menu-icones-agora"><div class="div-icones"><i class="ri-macbook-line"></i></div> Gerenciamento de máquinas</div>
                <div class="menu-icones"><div class="div-icones"><i class="ri-file-text-fill"></i></div>Histórico de incidentes</div>
                <div class="menu-icones"><div class="div-icones"><i class="ri-tools-line"></i></div> Histórico de manutenções</div>
            </div>
        </div>
        <div class="divprincipal">
            <div class="titulo"><span class="texto-titulo">Gerenciamento de Máquinas</span>
                <div class="botoes-selecao">
                    <div class="botao-selecao">Listagem</div>
                <div class="botao-selecao-agora">Cadastro</div>
                </div>
            </div>
            <div class="formulario">
                <div class="formulario-titulo"><span class="spam-titulo-formulario">Cadastro de Máquinas</span></div>
                <div class="formulario-inputs">
                    <div class="formulario-inputs-esquerda">
                        <div class="div-formulario-input"><span class="inputs-titulos">Hostname</span><input type="text"></div>
                        <div class="div-formulario-input"><span class="inputs-titulos">Fabricante</span><input type="text"></div>
                        <div class="div-formulario-input"><span class="inputs-titulos">Modelo</span><input type="text"></div>
                    </div>
                    <div class="formulario-inputs-direita">
                        <div class="div-formulario-input"><span class="inputs-titulos">Cor</span><input type="text"></div>
                        <div class="div-formulario-input"><span class="inputs-titulos">Componentes</span><input type="text"></div>
                        <div class="div-formulario-input"><span class="inputs-titulos">Ano de fabricação</span><input type="text"></div>
                    </div>
                </div>
                <div class="formulario-botao"><button>Cadastrar</button></div>
            </div>
        </div>
    </div>
</body>
</html>